*.o
*.a
*.pc
*.lo
*.la
*.mk
build/

openssl-1.0.1r/crypto/*/lib
openssl-1.0.1r/test/*
openssl-1.0.1r/apps/CA.pl.bak
openssl-1.0.1r/apps/md4.c
openssl-1.0.1r/apps/openssl
openssl-1.0.1r/certs/demo/3f77a2b5.0
openssl-1.0.1r/certs/demo/cbdbd8bc.0
openssl-1.0.1r/certs/demo/de4fa23b.0
openssl-1.0.1r/certs/demo/e83ef475.0
openssl-1.0.1r/crypto/buildinf.h
openssl-1.0.1r/crypto/lib
openssl-1.0.1r/crypto/opensslconf.h.bak
openssl-1.0.1r/engines/ccgost/lib
openssl-1.0.1r/engines/lib
openssl-1.0.1r/include/
openssl-1.0.1r/rehash.time
openssl-1.0.1r/ssl/lib
openssl-1.0.1r/tools/c_rehash.bak
openssl-1.0.1r/Makefile
openssl-1.0.1r/Makefile.bak
openssl-1.0.1r/crypto/opensslconf.h
openssl-1.0.1r/tools/c_rehash

httpd-2.4.18/config.log
httpd-2.4.18/config.nice
httpd-2.4.18/Makefile
httpd-2.4.18/build/config_vars.sh
httpd-2.4.18/build/pkg/pkginfo
httpd-2.4.18/config.status
httpd-2.4.18/docs/conf/extra/httpd-autoindex.conf
httpd-2.4.18/docs/conf/extra/httpd-dav.conf
httpd-2.4.18/docs/conf/extra/httpd-default.conf
httpd-2.4.18/docs/conf/extra/httpd-info.conf
httpd-2.4.18/docs/conf/extra/httpd-languages.conf
httpd-2.4.18/docs/conf/extra/httpd-manual.conf
httpd-2.4.18/docs/conf/extra/httpd-mpm.conf
httpd-2.4.18/docs/conf/extra/httpd-multilang-errordoc.conf
httpd-2.4.18/docs/conf/extra/httpd-ssl.conf
httpd-2.4.18/docs/conf/extra/httpd-userdir.conf
httpd-2.4.18/docs/conf/extra/httpd-vhosts.conf
httpd-2.4.18/docs/conf/extra/proxy-html.conf
httpd-2.4.18/docs/conf/httpd.conf
httpd-2.4.18/include/ap_config_auto.h
httpd-2.4.18/include/ap_config_layout.h
httpd-2.4.18/modules.c
httpd-2.4.18/modules/.deps
httpd-2.4.18/modules/Makefile
httpd-2.4.18/modules/aaa/.deps
httpd-2.4.18/modules/aaa/Makefile
httpd-2.4.18/modules/arch/unix/.deps
httpd-2.4.18/modules/arch/unix/Makefile
httpd-2.4.18/modules/arch/win32/.deps
httpd-2.4.18/modules/arch/win32/Makefile
httpd-2.4.18/modules/cache/.deps
httpd-2.4.18/modules/cache/Makefile
httpd-2.4.18/modules/cluster/.deps
httpd-2.4.18/modules/cluster/Makefile
httpd-2.4.18/modules/core/.deps
httpd-2.4.18/modules/core/Makefile
httpd-2.4.18/modules/database/.deps
httpd-2.4.18/modules/database/Makefile
httpd-2.4.18/modules/dav/fs/.deps
httpd-2.4.18/modules/dav/fs/Makefile
httpd-2.4.18/modules/dav/lock/.deps
httpd-2.4.18/modules/dav/lock/Makefile
httpd-2.4.18/modules/dav/main/.deps
httpd-2.4.18/modules/dav/main/Makefile
httpd-2.4.18/modules/debugging/.deps
httpd-2.4.18/modules/debugging/Makefile
httpd-2.4.18/modules/echo/.deps
httpd-2.4.18/modules/echo/Makefile
httpd-2.4.18/modules/examples/.deps
httpd-2.4.18/modules/examples/Makefile
httpd-2.4.18/modules/experimental/.deps
httpd-2.4.18/modules/experimental/Makefile
httpd-2.4.18/modules/filters/.deps
httpd-2.4.18/modules/filters/Makefile
httpd-2.4.18/modules/generators/.deps
httpd-2.4.18/modules/generators/Makefile
httpd-2.4.18/modules/http/.deps
httpd-2.4.18/modules/http/Makefile
httpd-2.4.18/modules/ldap/.deps
httpd-2.4.18/modules/ldap/Makefile
httpd-2.4.18/modules/loggers/.deps
httpd-2.4.18/modules/loggers/Makefile
httpd-2.4.18/modules/lua/.deps
httpd-2.4.18/modules/lua/Makefile
httpd-2.4.18/modules/mappers/.deps
httpd-2.4.18/modules/mappers/Makefile
httpd-2.4.18/modules/metadata/.deps
httpd-2.4.18/modules/metadata/Makefile
httpd-2.4.18/modules/proxy/.deps
httpd-2.4.18/modules/proxy/Makefile
httpd-2.4.18/modules/proxy/balancers/.deps
httpd-2.4.18/modules/proxy/balancers/Makefile
httpd-2.4.18/modules/session/.deps
httpd-2.4.18/modules/session/Makefile
httpd-2.4.18/modules/slotmem/.deps
httpd-2.4.18/modules/slotmem/Makefile
httpd-2.4.18/modules/ssl/.deps
httpd-2.4.18/modules/ssl/Makefile
httpd-2.4.18/modules/test/.deps
httpd-2.4.18/modules/test/Makefile
httpd-2.4.18/os/.deps
httpd-2.4.18/os/Makefile
httpd-2.4.18/os/unix/.deps
httpd-2.4.18/os/unix/Makefile
httpd-2.4.18/server/.deps
httpd-2.4.18/server/Makefile
httpd-2.4.18/server/export_files
httpd-2.4.18/server/exports.c
httpd-2.4.18/server/gen_test_char
httpd-2.4.18/server/mpm/.deps
httpd-2.4.18/server/mpm/Makefile
httpd-2.4.18/server/mpm/event/.deps
httpd-2.4.18/server/mpm/event/Makefile
httpd-2.4.18/server/test_char.h
httpd-2.4.18/srclib/.deps
httpd-2.4.18/srclib/Makefile
httpd-2.4.18/support/.deps
httpd-2.4.18/support/Makefile
httpd-2.4.18/support/apachectl
httpd-2.4.18/support/apxs
httpd-2.4.18/support/dbmmanage
httpd-2.4.18/support/envvars-std
httpd-2.4.18/support/log_server_status
httpd-2.4.18/support/logresolve.pl
httpd-2.4.18/support/phf_abuse_log.cgi
httpd-2.4.18/support/split-logfile
httpd-2.4.18/test/.deps
httpd-2.4.18/test/Makefile

